body {
  height: 100vh;
  background: linear-gradient(rgb(47, 47, 47), rgb(11, 3, 55));
  align-content: center;
}
main {
  background: rgba(190, 95, 26, 0.35);
  border: 1px solid white;
  border-radius: 8%;
  width: 60%;
  height: 80%;
  margin: 0 auto;
}
div {
  width: 90%;
  height: 45%;
  margin: 0 auto;
  align-content: center;
}
h1 {
  text-align: center;
  color: rgb(255, 224, 167);
  text-shadow: 1px 1px 1px black;
  font-family: monospace, fantasy, sans-serif, Georgia, "Times New Roman";
}
h2 {
  text-align: center;
  color: lightgray;
  font-family: monospace, fantasy, sans-serif, Georgia, "Times New Roman";
}
